<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminIndex</title>
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/admin/adminIndex.css">
    <script type="text/javascript" src="../../js/jquery.js"></script>
</head>
<body>

    <ul class="waller fullWidth fullHeight flexCC">
        <li class="fullWidth flexCC" style="flex-wrap: wrap">
            <a href="#" target="_blank" class="management blogManagement flexCC">博客管理</a>
            <a href="management/apps/appList.html" target="_blank" class="management appsManagement flexCC">App管理</a>
            <a href="#" target="_blank" class="management cvManagement flexCC">简历管理</a>
            <a href="management/sources/sourceUpdate.html" target="_blank" class="management sourceManagement flexCC">资源配置</a>
        </li>
    </ul>

</body>
</html>