.navigationFrame{
    height: 400px;
    width: 700px;
    position: absolute;
    z-index: 1;
    color: white;
    opacity: 0.7;
}
.navigationTheme{
    font-size: 9em;
    border-bottom: 5px solid white;
}
.navigation{
    font-size: 1.2em;
    font-weight: bold;
}
.navigation a{
    width: 170px;
    height: 40px;
    margin: 30px;
    color: white;
    border: 1px solid white;
    cursor: default;
}

.navigation a:hover{
    animation: bgColorTransparent2White_colorWhite256 0.5s;
    animation-fill-mode: forwards;
}

@keyframes bgColorTransparent2White_colorWhite256{
    from{
        background-color: transparent;
        color: white;
    }
    to{
        background-color: white;
        color: rgb(56,56,56);
    }
}