body{
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 等线;
    cursor: default;
}
iframe{
    margin: 0;
    border: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

input{
    outline: none;
    padding: 0;
}
a{
    outline: none;
    text-decoration: none;
    color: black;
}
textarea{
    outline: none;
    padding: 0;
}
select{
    outline: none;
}
/*50%高度*/
.halfHeight{
    height: 50%;
}
/*100%高度*/
.fullHeight{
    height: 100%;
}
/*50%宽度*/
.halfWidth{
    width: 50%;
}
/*100%宽度*/
.fullWidth{
    width: 100%;
}
/*flex,yCenter,xCenter*/
.flexCC{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*flex,yCenter,xStart*/
.flexCS{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/*flex,yCenter,xEnd*/
.flexCE{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/*flex,yEnd,xStart*/
.flexES{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
/*flex,yEnd,xCenter*/
.flexEC{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
/*flex,yEnd,xEnd*/
.flexEE{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
/*flex,yStart,xStart*/
.flexSS{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
/*flex,yStart,xCenter*/
.flexSC{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
/*flex,yStart,xEnd*/
.flexSE{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
/*隐藏控件*/
.disPlayNone{
    display: none;
}
/*变淡*/
.light{
    opacity: 0.7;
}
.waller{
    position: absolute;
}
.disabledWaller{
    background-color: #454545;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.tip{
    background-color: #aaaaaa;
    height: 10%;
    width: 70%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: white;
    z-index: 1000;
}
