<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <script type="text/javascript">
        //定义公共组件类Module
        //成员变量：
        //  webRoot：网站根目录，例：‘http://localhost:63342/workspace/Life/’；
        //  head：原生head标签对象；
        //  body：原生body标签对象；
        function Module() {
            this.webRoot = localStorage.getItem('webRoot');
            this.head = document.getElementsByTagName('head').item(0);
            this.body = document.getElementsByTagName('body').item(0);

            //加载CSS文件
            //参数：
            //  module：Module对象；
            //  relativeURL：当前文件相对路径，例：css/header.css；
            this.initCSS = function(module,relativeURL) {
                var css = document.createElement('link');
                css.rel = 'stylesheet';
                css.href = module.webRoot + relativeURL;
                module.head.appendChild(css);
            },
            //加载JS文件
            //参数：
            //  module：Module对象；
            //  relativeURL：当前文件相对路径，例：css/header.css；
            //  targetPart：在head末尾加载js / 在body末尾加载js，例：module.head
            this.initJS = function(module,relativeURL,targetPart) {
                var js = document.createElement('script');
                js.type = 'text/javascript';
                js.src = module.webRoot + relativeURL;
                targetPart.appendChild(js);
            }
        }
        //加载css以及jquery.js文件
        var module = new Module();
        module.initCSS(module,'view/css/public.css');
        module.initCSS(module,'view/css/module/header.css');
        module.initJS(module,'view/js/jquery.js',module.head);
    </script>

</head>
<body>

    <ul class="header fullWidth flexCE">
        <li class="navigation fullHeight flexCE disPlayNone">
            <div class="navigationBlog fullHeight flexCC">个人博客</div>
            <div class="navigationApp fullHeight flexCC">生活App</div>
            <div class="navigationCV fullHeight flexCC">个人简历</div>
        </li>
        <li class="logoFrame">
            <img class="logo fullWidth fullHeight">
        </li>
    </ul>

    <script>
        //加载其他js文件
        var module = new Module();
        module.initJS(module,'view/js/public.js',module.body);
        module.initJS(module,'view/js/module/header.js',module.body);
    </script>

</body>
</html>