<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoginAdmin</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/loginAdmin.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
</head>
<body>

    <div class="waller fullWidth fullHeight flexCC">
        <img class="material fullWidth fullHeight" src="../img/2018-07-24.jpg">
        <ul class="content">
            <li class="lifeTip fullWidth flexES">Life</li>
            <li class="dynamicKeyFrame fullWidth flexCC">
                <input class="dynamicKey" type="text" maxlength="6"
                       pattern="\S{6}" placeholder="输入动态密钥">
                <span class="login flexCC">确认</span>
            </li>
            <li class="dailySentence fullWidth">
                <span class="chinese">如果你不能飞，那就跑；如果跑不动，那就走；实在走不了，那就爬。无论怎样，你都要勇往直前。</span>
                <span class="english">You can't fly then run,if you can't run then walk,
                    if you can't walk then crawl,but whatever you do you have to keep moving forward.</span>
                <span class="origin flexCE">—— 马丁·路德·金</span>
                <span class="quote flexCS">素材来源：http://news.iciba.com/</span>
            </li>
        </ul>
    </div>

    <script type="text/javascript" src="../js/loginAdmin.js"></script>
</body>
</html>