<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/blogs/blog.css">
    <script type="text/javascript" src="../../js/jquery.js"></script>
</head>
<body>

    <ul class="waller fullWidth fullHeight">
        <li id="header"></li>
        <li id="content" class="fullWidth">
            <img class="material fullWidth fullHeight" src="../../img/2018-07-24.jpg">
            <div class="side">
                <ul class="dailySentence fullWidth">
                    <li class="chinese">如果你不能飞，那就跑；如果跑不动，那就走；实在走不了，那就爬。无论怎样，你都要勇往直前。</li>
                    <li class="english">You can't fly then run,if you can't run then walk,
                        if you can't walk then crawl,but whatever you do you have to keep moving forward.</li>
                    <li class="origin flexCE">—— 马丁·路德·金</li>
                    <li class="quote flexCS">素材来源：http://news.iciba.com/</li>
                </ul>

                <ul class="catalogs fullWidth">
                    <li class="catalog fullWidth flexCS">Java</li>
                    <li class="catalog fullWidth flexCS">MySQL</li>
                    <li class="catalog fullWidth flexCS">Office</li>
                    <li class="catalog fullWidth flexCS">日常生活问题</li>
                </ul>

                <ul class="articles fullWidth">
                    <li class="article fullWidth flexCS">java的数据类型</li>
                </ul>
            </div>
        </li>
    </ul>

    <script type="text/javascript" src="../../js/public.js"></script>
    <script type="text/javascript" src="../../js/blogs/blog.js"></script>
</body>
</html>